*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)),url(image/banner.png);
    background-size: cover;
    background-position: center;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
}
.logo{
    width: 140px;
    cursor: pointer;
}
.nav-links li{
    list-style: none;
    display: inline-block;   /* makes the content seperate in one horizontal line like ' - - - - ' */
    margin: 10px 30px;
}
.nav-links li a{
    text-decoration: none;
    color: white;
}
.register-btn{
    background: white;
    color: black;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
}
.container{
    padding: 0 7%;
}
.header h1{
    font-size: 4vw;
    font-weight: 500;
    color: white;
    text-align: center;
    padding-top: 22%;
}
.search-bar{
    background: white;
    width: 70%;
    margin: 30px auto;
    padding: 6px 10px 6px 30px;
    border-radius: 50px;
}
.search-bar form{
    display: flex;
    align-items: center;
    flex-wrap: wrap; /*items displayed in single line but can go to the next line as well*/
}
.search-bar form input{
    display: block; /*the input fields goes below their respective labels instead of being on the side of the labels*/
    border: 0;
    outline: none;
    background: transparent;
}
.search-bar form button{
    background: #ff5361;
    width: 55px;
    height: 55px;
    border-radius:50%;
    border: 0;
    outline: none;
    cursor: pointer;
}
.search-bar form button img{
    width: 15px;
    margin-top: 7px;
}
.location-input{
    flex: 1; /*uses all the space in the row so that no extra space is left */
}
.search-bar form label{
    font-weight: 600;
}

/* ---------------------EXCLUSIVES--------------------*/

.sub-title{
    margin: 50px 0 20px;
    font-size: 2.2vw;
    font-weight: 500;
    color: #333;
}
.exclusives{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));  /* Watch grid layout video of Easy tutorials for doubt clearing later if needed */
    grid-gap: 30px;
}
.exclusives div img{
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}
.exclusives div{
    position: relative;
}
.exclusives div span{              /*makes the text appear inside the image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    text-decoration: solid;
    cursor: pointer;
}
/* ----------------------- Trending Places ------------------ */

.trending{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.trending div img{
    width: 100%;
    border-radius: 10px;
}
.trending h3{
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

/* ------------- call to action ------------ */

.cta{
    margin: 80px 0;
    background-image: linear-gradient(to right,#3f2321, transparent),url(image/banner-2.png);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    padding: 5%;
    color: white;
}
.cta h3{
    font-size: 4vw;
    line-height: 5.3vw;
    font-weight: 500;
}
.cta p{
    font-size: 20px;
    margin: 10px 0;
}
.cta-btn{
    background: #ff5361;
    color: white;
    text-decoration: none;
    padding: 12px 30px; 
    border-radius: 8px;
    margin-top: 20px;
    display: inline-block;
}

/* ---------------- Travellers stories ---------------- */

.stories{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 30px;
    margin-bottom: 30px;
}
.stories div img{
    width: 100%;
    border-radius: 10px;
}
.stories div{
    position: relative;
    text-align: center;
}
.stories p{
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 26px;
    font-weight: 500;
}
.start-btn{
    text-decoration: none;
    background: #ff5361;
    color: white;
    width: 80%;
    max-width: 350px;
    display: block;
    text-align: center;
    margin: 60px auto;
    padding: 15px;
    border-radius: 30px;
    font-size: 20px;
}

/*------------------- about messsage ----------------------- */
.about-msg{
    text-align: center;
    margin: 80px 0;
    color: #333;
    font-size: 17px;
}
.about-msg h2{
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 500;
}


/* -------------------- footer ------------------------ */

.footer{
    margin: 80px 0 10px;
    text-align: center;
}
.footer a{
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
}
.footer hr{
   width: 25%;
   padding-left: auto;
   margin-left: auto;
   padding-right: auto;
   margin-right: auto;
   margin-top: 10px;
   margin-bottom: 10px;
   height: 1px;
   background: grey;
}
.footer p{
    padding-bottom: 15px;
}

.active{
    position: relative;
}
.active::after{                   /*adds the small line below the popular places navigation bar text when it is currently clicked and active right now*/
    content: '';
    background: white;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}

/* ---------------------Learn CSS media queries and update this one soon, making it more responsive---------------------- */


/* ---------------------- Page 2(listing) from here --------------------------------- */

.navbar-white{
    background: white;
    box-shadow: 0 5px 10px rgba(0,0,0,0.05);           /*adds that very subtle shadow beneath the navbar*/
}
.navbar-white .nav-links li a{
    text-decoration: none;
    color: black;
}
.navbar-white .register-btn{
    background: #ff5361;
    color: white;
}    
.navbar-white .active::after{ /* to change the color of the small bar which is below the nav tag that is currently active */
    background: #ff5361;
}
.list-container{
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.left-col{
    flex-basis: 70%;
}
.right-col{
    flex-basis: 25%;
}
.left-col h1{
    color:#333;
    font-weight: 600;
    margin-bottom: 30px;
}
.house{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0;
    border-top: 1px solid grey; /* this also adds that line above the image of the house (below the recommended place heading) */
}
.house-img{
    flex-basis: 40%;          /* this is also a way to control width*/
}
.house-info{
    flex-basis: 58%; /* the rest of 2% will be used as space between both the columns*/
    color: #555;
}
.house-img img{
    width: 100%;
    border-radius: 12px;
}
.house-info h3{
    font-weight: 600;
    color: #333;
    font-size: 22px;
    margin: 4px 0;
}
.house-info i{
    color: #ff5361;
    font-size: 18px;
    margin: 10px 1px;
}
.house-price{
    text-align: right;
}
.house-price h4{
    font-size: 20px;
}
.house-price h4 span{
    font-size: 16px;
    font-weight: 500;
}
.sidebar{
    border: 3px solid black;
    padding: 20px 30px;
    margin-top: 30px;
}
.sidebar h2{
    font-weight: 500;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}
.sidebar h3{
    font-weight: 500;
    margin: 15px 0 10px;
}
.filter{
    display: flex;
    align-items: center;
    color: #555;
    margin-bottom: 10px;
}
.filter p{
    flex: 1;
}
.filter input{
    margin-right: 15px;
    cursor: pointer;
}
.sidebar-link{
    text-align: right;
    margin: 20px 0;
}
.sidebar-link a{
    text-decoration: none;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
}
.pagination img{
    width: 15px;
    margin: 10px 20px;
}
.right-arrow{
    transform: rotate(180deg);
}
.pagination span{
    margin: 10px 8px;
    width: 40px;
    height: 40px;
    line-height: 40px; /* keeps the numbers in straight line with the arrow and doesn't let them disorient */
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
}
.pagination .current{
    background: #333;
    color: white;
}

/* ---------------- 3rd Page - House Details-------------------- */

.house-details{
    padding: 0 12%;
}
.house-title{
    margin-top: 50px;
}
.house-title h1{
    font-weight: 600;
}
.house-title .row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 10px 0;
}
.house-title span{
    margin: 0 20px;
}
.house-title i{
    color: #ff5361;
    font-size: 14px;
}
.gallery{
    display: grid;
    grid-gap:10px; /*adds 10px space between the images in the grid */
    grid-template-areas: 'first first . .' 'first first . .'; /*it means in first row we will get one big image and two small image, same in second row as well */
    margin: 20px 0;
}
.gallery div img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.gimg1{
    grid-area: first; /* assigning a name to the first image as 'first' and then using it in above grid template property to create a frame*/
}
.small-details h2{
    font-weight: 500;
}
.small-details h4{
    text-align: right;
    font-size: 22px;    
}
.line{
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 20px 0 50px;
}
.check-form{
    margin: 30px 0;
    background: #fff;
    box-shadow: 0 0 30px rgba(0,0,0,0.3);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 10px 50px;
}
.check-form label{
    display: block; /* pushes the input box below the label instead of displaying side by side*/
}
.check-form div{
    padding: 20px;
}
.check-form input{
    background: transparent;
    border: 0;
    outline: none;
}
.check-form button{
    background: #ff5361;
    border: 0;
    outline: none;
    color: white;
    padding: 18px;
    width: 350px;
    border-radius: 8px;
    font-size: 16px;
}
.guest-field{
    flex: 1;
}