
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    font-size: 100%;
    overflow-x: hidden;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
}
/* Main home section along with nav bar*/
.back{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.667),rgba(0, 0, 0, 0.47));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;
}

nav{                            /* nav bar */
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav button{
    border: 1px solid white;
    outline: 0;
    background: linear-gradient(rgba(0, 0, 0, 0.776),rgba(0, 0, 0, 0.429));
    color: white;
    padding: 7px 10px;
    font-size: 14px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: all 0.5s ease;
}
nav button:hover{
    border: 1px solid rgb(239, 232, 10);
    color: rgb(239, 232, 10);
}
nav .logo{
    width: 80px;
}

nav ul {
    display: flex;
    gap: 40px;
    list-style: none;
}

nav ul {
    gap: 40px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    font-size: 17px;
    transition: all .50s ease;
}
nav a:hover{
    color: rgb(239, 232, 10);
}
nav a.active{
    color: rgb(239, 232, 10);
    
}
.login-form-container{
    position: fixed;
    top: -120%; left: 0;
    z-index: 10000;
    min-height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.724);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .50s ease;
}
.login-form-container.active{
    top: 0;
}
.login-form-container form{
    border: 3px solid #ffd700;
    border-radius: 20px;
    padding: 40px;
    width: 400px;
    margin: 0 auto;
    /* background-color: #f8f8f8; */
    box-shadow: 0 4px 10px rgba(255, 215, 0, 0.922);
    transition: all .50s ease-in-out;
    backdrop-filter: blur(7px);
}
.login-form-container form h3{
    font-size: 30px;
    color: rgb(255, 215, 0);
    text-transform: uppercase;
    text-align: center;
    padding: 1rem 0;
}
.login-form-container form .box{
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: none;
    /* background-color: #f8f8f8; */
    color: #333333;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
}
.login-form-container input:focus{
  outline: none;
  box-shadow: 0 0 12px rgba(255, 215, 0, 0.5);
}
.login-form-container form .btn{
    margin-top: 10px;
    display: block;
    width: 100%;
}
.login-form-container #form-close{
    position: absolute;
    top: 40px; right: 60px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    transition: all .50s ease-in-out;
}
.header-content{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    margin-top: 100px;
}
.header-content h1{
    display: inline;
    font-size: 70px;
    color: white;
    font-weight: 600;
    max-width: 650px;
    text-align: center;
}
.header-content .spanni{
    font: 70px sans-serif;
    transition: 0.5s;
}
.header-content .spanni:hover {
    -webkit-text-stroke: 2px rgb(255, 215, 0);
    color: transparent;
}
.header-content h3{
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
    color: azure;
}
.first-para{
    margin-bottom: 5px;
}
.email-signup{
    background: white;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0; 
    margin-left: 20px;   
}
.login-form-container .btn{
    background: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.792));
    border: 0;
    outline: 0;
    color: rgb(239, 232, 10);
    font-size: 16px;
    cursor: pointer;
    padding: 10px 15px;
    transition: all .55s ease;
    font-weight: 400;
    border-radius: 5px;
}
.btn{
    background: linear-gradient(rgb(0, 0, 0),rgba(0, 0, 0, 0.792));
    border: 0;
    outline: 0;
    color: rgb(239, 232, 10);
    font-size: 16px;
    cursor: pointer;
    padding: 15px 30px;
    transition: all .55s ease;
    font-weight: 700; 
}
.login-form-container .btn:hover, .email-signup .btn:hover{
    color: rgb(0, 0, 0);
    background:  rgb(255, 215, 0);
    box-shadow: 0 0 10px  rgba(255, 215, 0,0.5);
    transform: scale(1.05);
}
.back-video{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

.slide-left{
    animation: slideleft .7s linear forwards;
}
@keyframes slideleft{
    0%{
        transform: translate(100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
.slide-right{
    animation: slideright .7s linear backwards;
}
@keyframes slideright{
    0%{
        transform: translate(-100px);
        opacity: 0;
    }
    100%{
        transform: translate(0px);
        opacity: 1;
    }
}
#menu-icon{                 /* making the menu section */
    font-size: 25px;
    cursor: pointer;
    z-index: 10001;
    display: none;
}
@media(max-width: 1200px){
    html{
        font-size: 75%;
    }
    header{
        padding: 14px 2%;
        transition: 0.2s;
    }
    nav a{
        padding: 20px 0;
        margin: 0px 0px;
    }
}
@media(max-width: 991px){
    nav{
        padding: 2rem;
    }
}
@media(max-width: 881px){
    #menu-icon{
        display: block;
    }
    nav .navlist{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        background: #333;
        border-top:.1rem solid rgba(255,255,255,.2);
        padding: 1rem 2rem;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: .55s;
    }

    nav .navlist.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        display:flex;
        flex-direction:column;
        z-index:10;
        transition:cubic-bezier(0.175, 0.885, 0.32, 1.275);
        transition-duration: .55s;
    }

    nav .navlist a{
        display: block;
        border-radius: .5rem;
        padding: 1.5rem;
        margin: 0.5rem 0;
        background: #222 ;
    }

    nav ul.active {
        gap: 0px;
    }
}
@media(max-width: 450px){
    html{
        font-size: 65.5%;
    }
}    
/*Main home section ends*/

/* achievements section */
.achievement{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom right, rgb(209, 179, 15), #ffee00, rgb(209, 179, 15), #ffee00, rgb(209, 179, 15),#ffee00);
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    overflow: hidden;
    border: 7px solid #000;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
}
.head .trophy{
    position: absolute;
    top: 55px;
    right: 1020px;
    height: 70px;
    width: 70px;
}
.certificate{
    position: absolute;
    top: 55px;
    font-weight: 900;
    right: 400px;
    height: 70px;
    width: 70px;
}
.achievement h3{
    position: relative;
    margin-left: 34%;
    padding-top: 35px;
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 90px 250px;
    padding: 130px 50px;
}
.container .card{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 350px;
    height: 300px;
    background: white;
    border-radius: 20px;
    box-shadow: 0 35px 80px rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.container .card:hover{
    height: 400px;
    transition: 0.5s;
}
.container .card .imgbx{
    position: absolute;
    width: 300px;
    height: 220px;
    background: #333;
    top: 20px;
    border-radius: 12px;
    transition: 0.5s;
    overflow: hidden;
}
.container .card:hover .imgbx{
    top: -100px;
    scale: 0.75;
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.5);
}
.container .card .imgbx img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .card .content{
    position: absolute;
    width: 100%;
    padding: 0 30px;
    text-align: center;
    top: 252px;
    height: 35px;
    overflow: hidden;
    transition: 0.5s;
}
.container .card:hover .content{
    height: 250px;
    top: 150px;
}
.container .card .content h2{
    font-size: 1.5em;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
.container .card .content p{
    color: #000000;
    font-size: 1.05em;
}
.stripe-ver1{
    position: absolute;
    top: -136px;
    z-index: 100;
    right: 29px;
    height: 176px;
    width: 8px;
    background-image: linear-gradient(45deg, #000000 25%, #000000 75%);
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.stripe-hor1{
    position: absolute;
    top: -116px;
    z-index: 100;
    right: 6px;
    height: 8px;
    width: 200px;
    background-image: linear-gradient(45deg, #000000 25%, #000000 75%);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}
.stripe-ver2{
    position: absolute;
    top: -134px;
    z-index: 100;
    left: 29px;
    height: 176px;
    width: 8px;
    background-image: linear-gradient(45deg, #000000 25%, #000000 75%);
    border-radius: 5px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
}
.stripe-hor2{
    position: absolute;
    top: -116px;
    z-index: 100;
    left: 6px;
    height: 8px;
    width: 200px;
    background-image: linear-gradient(45deg, #000000 25%, #000000 75%);
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

/* activity section */

.activity{
    height: 140vh;
    background: linear-gradient(to bottom right, #000000, rgba(0, 0, 0, 0.854), #000000, rgba(0, 0, 0, 0.854), #000000,rgba(0, 0, 0, 0.854), #000000,  rgba(0, 0, 0, 0.854), #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 98px;
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    border: solid 7px black;
}
.activity{
    border-bottom: none;
}
.timeline{
    background: transparent;
    flex-basis: 65%;
    padding: 10px;
    position: relative;
    max-width: 1000px;
}
.right-section{
    background: transparent;
    height: 90%;
    flex-basis: 30%;
    padding: 10px;
}
.container-1{
    padding: 10px 50px;
    position: relative;
    width: 50%;
    opacity: 0;
    z-index: 10;
}
.text-box{
    padding: 20px 30px;
    background: linear-gradient(to bottom right, rgb(187, 161, 13), #ffd000, rgb(187, 161, 13));
    position: relative;
    border-radius: 6px;
    font-size: 15px;
}
.left-container{
    left:0;
}
.right-container{
    left: 50%;
}
.container-1 img{
    position: absolute;
    width:40px;
    border-radius: 50%;
    right:-20px;
    top:32px;
    z-index: 100;
}
.right-container img{
    left: -20px;
}
.timeline::after{
    content: '';
    position: absolute;
    width: 6px;
    height: 666px;
    background: linear-gradient(to bottom right, rgb(187, 161, 13), #ffd000, rgb(187, 161, 13));
    top:0;
    left: 50%;
    margin-left: -3px;
    z-index: 8;
    border-radius: 5px;
}

.text-box h2{
    font-weight: 600;
}
.text-box small{
    display: inline-block;
    margin-bottom: 15px;
}
.left-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index:1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #ffd000;
    right: -14px;
}
.right-arrow{
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index:1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #d6af00;
    left: -14px;
}
@media screen and (max-width: 600px){
    .timeline{
        margin: 50px auto;
    }
    .timeline::after{
        left: 31px;

    }
    .container-1{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }
    .text-box{
        font-size: 13px;
    }
    .text-box small{
        margin-bottom: 10px;
    }
    .right-container{
        left: 0;
    }
    .left-container img, .right-container img{
        left: 4px
    }
    .left-arrow, .right-arrow{
        border-right: 15px solid #ffd000;
        border-left: 0;
        left: -14px;
    }
}
.right-section img{
    height: 390px;
    width: 400px;
    transform: translateY(150px);
}
.heading{
    height: 80px;
    font-size: 70px;
    position: absolute;
    right: 580px;
    transform: translateY(-95px);
    z-index: 9999;
    font-weight: bold;
    text-shadow: 1px 1px 2px whitesmoke;
    font-size: 70px;
    color: white; 
    text-align: center;
    letter-spacing: 2px;
}

/* About section */

.about{
    height: 300vh;
    overflow: hidden;
    width: 100%;
    background: linear-gradient(to bottom right, rgb(209, 179, 15), #ffee00, rgb(209, 179, 15), #ffee00, rgb(209, 179, 15),#ffee00);
    background-repeat: no-repeat;
    background-attachment: fixed;
    backdrop-filter: blur(10px);
    border: 7px solid #000;
    box-shadow: inset 0 0 30px rgba(0, 0, 0, 0.5);
    border-bottom: none;
}
.first-row{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
}
.about h3{
    position: relative;
    margin-left: 40%;
    padding-top: 41px;
    font-size: 70px;
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.about-card{
    margin-right: 30px;
    margin-left: 30px;
    height: 300px;
    width: 300px;
    box-shadow: 5px 5px 20px black;
    overflow: hidden;
    border-radius: 10px;
    transition: all .5s ease;
    cursor: pointer;
}
.about-card img{
    height: 300px;
    width: 300px;
    border-radius: 10px;
    transition: all .5s ease;
}
.about-container{
    display: flex;
    justify-content: space-between;
}
.intro{
    height: 70px;
    width: 300px;
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 1487px;
    border-radius: 10px;
    background: rgba(27, 27, 27,.5);
    color: white;
    transition: all .5s ease;
}
.intro h1{
    display: flex;
    justify-content: center;
    margin: 10px;
    font-size: 30px;
}
.intro span{
    padding: 2px;
    display: flex;
    justify-content: center;
    font-size: 12px;
    margin: 2px;
    width: 140px;
    background: linear-gradient(to bottom right, rgb(209, 179, 15), #ffee00, rgb(209, 179, 15));
    border: 2px solid black;
    border-radius: 5px;
    color: #000;
    font-weight: bold;
    visibility: hidden;
    opacity: 0;
    transition: all 1.5 ease-in-out;
}
.parent-align{
    display: grid;
    grid-template-columns: repeat(2, 150px);
    gap: 0px;
    transition: all 1.5s ease-in-out;
}
.about-card:hover .intro{
    height: 139px;
    background: rgba(0, 0, 0, 0.443);
}
.about-card:hover span{
    opacity: 1;
    visibility: visible;
}
.about-card:hover img{
    transform: scale(1.1);
}
.r2{
    bottom: 987px;
}
.r3{
    bottom: 487px;
}

/* Document section starts */
.document{
    height: 80vh;
    background: linear-gradient(to bottom right, #000000, rgba(0, 0, 0, 0.854), #000000, rgba(0, 0, 0, 0.854), #000000,rgba(0, 0, 0, 0.854), #000000,  rgba(0, 0, 0, 0.854), #000000);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.doc-img{
    width: 1200px;
    height: 598px;
    margin-bottom: 100px;
    z-index: 1;
}
.doc-img img{
    width: 100%;
    height: 100%;
    z-index: 2;
}
.document-card{
    height: 70px;
    width: 220px;
    background: linear-gradient(to bottom right, rgb(209, 179, 15), #ffee00, rgb(209, 179, 15));
    z-index: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.document-card:hover{
    background:  linear-gradient(to bottom right, rgb(214, 214, 214), #ffffff, rgb(214, 214, 214));
    height: 75px;
    width: 230px;
}
.document-card:hover h3{
    transform: scale(1.08);
}
.doc-top-left{
    position: absolute;
    left: 180px;
    transform: translateY(-180px);
}
.document-card h3{
    padding: 10px;
    font-weight: bold;
    transition:all .3s ease-in-out;
}
.doc-left{
    position: absolute;
    left: 180px;
    transform: translateY(40px);
}
.doc-left h3{
    font-size: 30px;
}
.doc-top-right{
    position: absolute;
    transform: translateY(-185px);
    right:180px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.doc-top-right h3{
    margin-left: 15px;
}
.doc-right{
    position: absolute;
    right: 180px;
    transform: translateY(40px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.doc-right h3{
    margin-left: 15px;
}
.document a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
/* Document section ends */

/* Contact */

.contact{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: 80px;
    width: 100%;
    margin-top: 150px;
}
.contact h3{
    font-size: 45px;
    position: absolute;
    transform: translateX(-300px);
}
.arr-rt{
    font-size: 45px;
    position: absolute;
    right: 550px;
    transform: translateY(42px);
}
.inst{
    font-size: 45px;
    position: absolute;
    right: 450px;
    transform: translateY(42px);
    transition: all .2s ease-in-out;
    cursor: pointer;
}
.inst:hover{
    font-size: 50px;
}